p{
    font-family:arial;
        
}
a{
    color:#000;
    font-family:arial;
    font-size:0.8em;
}

.ctree{
    margin:0px;
    padding:0px;
}
.ctree ul{
    margin-left:20px;
    padding-left:0px;
    display:none;
}
.ctree li{
    list-style-type:none;
    vertical-align:middle;
    
}
.ctree li a{ 
    color:#000;
    text-decoration:none;
    font-family:arial;
    font-size:0.8em;
    padding-left:2px;
}
