body {
    background: #fff;
    padding: 0em 2em 0em 2em;
    color: #666;
    font-family:arial,verdana,helvetica,sans-serif;
    font-size:0.8em;
}

body, html, ul, li, p, div, span, a {
    font-family:arial,verdana,helvetica,sans-serif;
}

/*h1 {
    padding: 0;
    margin: 0;
}

h2 {
    padding: 0;
    margin: 0;
}
h3 {
    padding: 0;
    margin: 0;
}*/

/* Page divisions */

a.noUnderline {
    display:block;
    text-decoration: none;
    font-family:arial,verdana,helvetica,sans-serif;
    margin-bottom: 5px;
}

.listing td img {
    margin-left: 3px;
    vertical-align: middle;
}

td a{
    color: #666;
    font-family:arial,verdana,helvetica,sans-serif;
}

#footer {
    text-align:right;
}
#footer a{
    color: #bbb;
}

#pageTitle {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2em;
    height: 7.5em;
}

#pageTitleLogo {
    float: left;
    clear: left;
    margin-top: 1em;
}

#pageTitle table {
    position: absolute;
    padding: 0;
    right: 2em;
    top: 3.5em;
}

#pageTitle td {
    text-align: right;
    padding-right: 1em;
}
/*
#pageTitle  {
    display: block;
    clear: left; 
    float: left;
    padding-left: 2em;
    padding-right: 0.5em;
    padding-top: 3em;
    padding-bottom: 1em;
    font-size: 0.8em;
    border: 1px solid blue;
}*/

.itemTopText {
    display: block;
    float: left;
    clear: left;
    font-size: 0.9em;
}

.itemTopImage {
    display: inline;
    margin-left: 0.7em;
    vertical-align: middle;
}

.itemTopText h1{
    padding: 0;
    margin: 0;
    font-size:1.7em;
    color: #000;
}

.itemTopText h1 a{
    text-decoration: none;
    color: #000;
    font-family:arial,verdana,helvetica,sans-serif;

}

#sideContainer {
    position: absolute;
    left: 2.5em;
}

#pageNote {
    margin: 0em;
    padding: 0em;
}

#pageNote h2{
    padding: 0;
    margin: 0;
}

#pageSide{
    /*border-top: 1px solid #e0e0e0;  */
    width: 15em;
    margin-top: 1em;
    height: 36em;
}

#pageContent{
    /*border: 1px solid #e0e0e0;*/
    margin-left: 15em;
    padding: 1em;
}

#pageContent a{
    font-size: 1em;
}

.roundedBlock{
    background: #fff;
    color: #666;
    margin-bottom: 1em;
}

/* Can be anything hard left or hard right */
.hardRight{
    float: right;
    clear: right;
    height: 1px;
}

.hardLeft{
    position:absolute;
    height: 1px;
    font-size: 1em;
    font-weight: bold;
}

/* Rounded block edges */
.blockTop{
    background: url(/images/top.png);
    height: 15px;
}

.blockHeading{
    position: absolute;
    width: 15em;
    top: 10px;
    left: 10px;
}

.blockHeading img{
    vertical-align: middle;
    padding-right: 0.5em;
}
    
.blockBottom{
    background: url(/images/bottom.png);
    height: 15px;
}

.blockMid{
    height: 15px;
    background: #fff;
}

.blockLeft{
    background: url(/images/left.png);
    width: 5px;
}

.blockRight{
    background: url(/images/right.png);
    width:5px;
}

.blockStretchy{
    border: 1px solid green;
    height: 1em;
}

.blockContent{
    padding: 1em;
    margin-bottom: 1em;
}

.blockStrip{
    padding: 1em;
    background: #f00;
}

/* Menu stylings */
.menuBlock  {
    padding-left: 1em;
}

.menuBlock li{
    display: block;
    margin-left: 1.5em;
}

input {       
    font-family:arial;
    font-size:12px;
    padding:2px;
    border: 1px solid #CCCCCC;
    background-color: #F9F9F9;
    color: #666;
    margin-left: 0em;
}

.boolean input{
    border: none;
}

.sequence input {
    border: none;
    margin-left: 10em;
}

.actions input{
    border: none;
    padding: 0;
}



.raidInline {
    border: none;
    margin: 0;
    padding: 0;
}

textarea {
    font-family:arial;
    font-size:12px;
    padding:2px;
    border: 1px solid #CCCCCC;
    background-color: #F9F9F9;
    /*color:#CE7E00;*/
    color: #666;
}

select {
    font-family:arial;
    font-size:12px;
    padding:2px;
    border: 1px solid #CCCCCC;
    background-color: #F9F9F9;
    /*color:#CE7E00;*/
    color: #666;
}


p{
    font-family:arial;
}

.set0{
    border-right: 2px solid red;
}

.set1{
    border-left: 2px solid lime;
}

a{
    color:#000;
    font-family:arial;
    font-size:0.8em;
}

img{ 
    border: none;
}

h3 img{
    vertical-align: middle;
    padding-right: 0.5em;
}

#smallCube {
    padding-right: 1em;
}

.hidden {
    display: none;
}

.ctree{
    margin:0px;
    padding:0px;
}
.ctree ul{
    margin-left:20px;
    padding-left:0px;
    display:none;
}
.ctree li{
    list-style-type:none;
    vertical-align:middle;

}
.ctree li a{
    color:#000;
    text-decoration:none;
    font-family:arial;
    font-size:0.8em;
    padding-left:2px;
}

h2 {
    vertical-align: middle;
}

h2 img {
    vertical-align: middle;
}

thead {
    background: url(/images/gradMB.png);
}

#editForm {
    margin-top: 0;
}

#editForm .group{
    width: 650px;
}

#addForm {
    margin-top: 0;
}

.servicetable td{
    padding-left: 1em;
    padding-right: 1em;
}
.servicetable td img{
    padding-left: 1em;
}

.listing {
    background: #eee;
    border-collapse: collapse;
}

th{
    color: #fff;
    padding-left: 1em;
    padding-right: 1em;
}

.listing td{
    border: 1px solid #ddd;
    padding-left: 1em;
    padding-right: 1em;
}

.sortable {
    background: #eee;
    border-collapse: collapse;
}

.sortable td{
    border: 1px solid #ddd;
    padding-left: 1em;
    padding-right: 1em;
}

#matrix td{
    text-align: center;
}


.pageBar {
    display: block;
    margin-left: 0em; 
    margin-right: 0em;
    right: 0;
    height: 18px;
    background: url(/images/gradMB.png);
    background-repeat: repeat-x;
}

.snapLeft{
    clear:left;
    float: left;
}

.snapRight{
    clear: right;
    float: right;
}


#menuBar img {
    display: inline;
    float: left;
    border: none;
}

#menuBar{
    position: absolute;
    top: 64px;
    right: 0;
    left: 0;
    /* ie hack */
    width: expression( ( document.documentElement.clientWidth )+ 'px' );
}

#pageFotter {
    position: absolute;
    bottom: 0px;
}

#rightBlockIFrame {
    position: absolute;
    padding: 0em;
    left: 16.5em;
    right:0px;
    bottom: 0;
    top: 0;
    overflow: auto;
    width: expression( ( document.documentElement.clientWidth - 246)+ 'px' );
    height: expression( ( document.documentElement.clientHeight - 127 )+ 'px' );
}

div#rightBlockIFrame {
    padding: 1em;
}

#wholePage {
    position: absolute;
    padding: 1em;
    left: 0;
    right:0px;
    bottom: 0;
    top: 0;
    overflow: auto;
    width: expression( ( document.documentElement.clientWidth - 26)+ 'px' );
    height: expression( ( document.documentElement.clientHeight - 127 )+ 'px' );
}

#plainContent {
    padding-left: 2em;
}

#sideCont{
    display: block;
    margin-left: 1em;
    width: 14em;
    overflow: auto;
    top: 1px;
    bottom: 0px;
    height: expression( ( document.documentElement.clientHeight - 86 )+ 'px' );
    font-size: 110%;
}

#sideContTools{
    display: block;
    margin-left: 1em;
    width: 13em;
    top: 1px;
    bottom: 0px;
    height: expression( ( document.documentElement.clientHeight - 86 )+ 'px' );
    font-size: 110%;
}


#rightBlock div.field label {
    width: 10em;
    float: left;
}
        

#rightBlock .inputs {
    width: 26em;
    margin-left: 10em;
    margin-left: expression( '0px');
}

#rightBlock div.inputs label{
    display: inline;
    float: none;
}

#rightBlock .inputs textarea{
    height: 6em;
    width: 20em;
}

#rightBlock .checkboxField {
    margin-left: 10em;

}
#wholePage .description {
}

#wholePage .inputs {
    width: 26em;
    margin-left: 10em;
}

#wholePage div.inputs label{
    display: inline;
    float: none;
}

#wholePage .inputs textarea{
    height: 6em;
    width: 20em;
}
 
#wholePage .checkboxField {
    margin-left: 10em;
}

/*
.checkedpassword .inputs label {
    position: absolute;
    left: 19.45em;
    margin-top: 2.7em;
}

#editForm-userPassword-confirm {
    margin-top: 1em;
}

#userSettings-userPassword-confirm {
    margin-top:1em;
}*/

.checkboxmultichoice .inputs input {
    margin-left: 0em;
}

.checkboxmultichoice .inputs {
    padding: none;
}

#editForm .checkboxmultichoice .inputs label {
    position: absolute;
    margin-top: 0.3em;
    left: 25em;
    border: none;
}

#editForm .inputs input {
    margin-left: expression('0em');
}

#editForm .inputs textarea {
    margin-left: expression('0em');
}

#editForm .checkboxmultichoice .inputs input {
    margin-left: expression('10em');
    margin-left: 0em;
}

#addForm .checkboxmultichoice .inputs input {
    margin-left: expression('10em');
    margin-left: 0em;
}
#addForm .inputs input {
    margin-left: expression('0em');
}

#addForm .inputs textarea {
    margin-left: expression('0em');
}


#addForm .checkboxmultichoice .inputs label {
    position: absolute;
    margin-top: 0.3em;
    left: 25em;
    border: none;
}


.menuPanelTitleText {
        float:left;
}

#contentMenuPanel {
        float: left;
        margin: 0;
        padding: 0 1em 1em 1em;
        width: 250px;
}

div.menuPanel {
        padding: 6px;
}

div.menuPanelTitle {
        background: #ebeadb;
        background: url(/images/gradMB.png);
/*        abackground: #e0e0c0;
        aborder: 1px solid grey;
        border-top: 1px solid #e2decd;
        border-left: 1px solid #e2decd;
        border-right: 1px solid #d6d2c2;
        border-bottom: 1px solid #d6d2c2;
/*        aborder: 1px solid #669;
        aborder: 1px solid #c0c0c0;*/
        height: 14px;
        padding: 2px 2px 2px 6px;
}

span.menuPanelTitle {
    font-weight: bold;
    font-family: arial;
    font-size: 1em;
}

div.menuPanelTitle img {
        position: relative;
        float: right;
        padding-right: 4px;
        padding-top: 2px;
        border: none;
}

div.menuPanelContentPanel {
        padding-left: 5px;
        padding-right: 5px;
        clear: both;
}

div.menuPanelContent {
        background: #efefef;
        border-right: 1px solid #c0c0c0;
        border-bottom: 1px solid #c0c0c0;
        border-left: 1px solid #c0c0c0;
        padding: 8px 4px 8px 8px;
}

A.MenuOptionLink {
        color: #666;
        text-decoration: none;
        font-weight: bold;
        border: none;
        font-size: 0.8em;
        font-family:arial,verdana,helvetica,sans-serif;
}

A.MenuOptionLink:hover {
        color: #EF2184;
        text-decoration: none;
}

A.MenuTitleLink {
        color: #EC9600;
        text-decoration: none;
        font-weight: bold;
        border: none;
        padding-left: 0.5em;
        padding-right: 0.5em;
        font-size: 10px;
}

A.MenuTitleLink:hover {
        color: #EF2184;
        text-decoration: none;
}

.tabPane {
    padding: 1em;
    margin-left: 1px;
    border: 1px solid #BBB;
	overflow: hidden;
}


#loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    width: expression( ( document.documentElement.clientWidth )+ 'px' );
    height: expression( ( document.documentElement.clientHeight )+ 'px' );
    text-align: center;
    vertical-align: middle;
}

#loadingBack{
    position: absolute;
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    filter: alpha(opacity=50); /* IE */
    background-color: #000;
    z-index:10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    width: expression( ( document.documentElement.clientWidth )+ 'px' );
    height: expression( ( document.documentElement.clientHeight )+ 'px' );
}

#loadingFront{
    position: absolute;
    z-index: 11;
    background: url('/images/loadback.png');
    background-repeat: no-repeat;
    background-position: center center;
    top: 30%;
    left: 25%;
    width: 472px;
    height: 185px;
    text-align: center;
}

#userBar {
    background: transparent url(/images/bantop.png);
    background-repeat: no-repeat;
    color: #fff;
    position: absolute;
    padding-left: 10px;
    height: 1.9em;
    margin-top: 0;
    padding-top: 6px;

    top: 1em;
    right: 3em;

    width: 388px;
    text-align: left;
    padding-right: 10px;
}

#userBar a{
    padding: 0;
    text-decoration: none;
    color: #fff;
    font-family:arial, verdana;
    font-size:0.9em;
}

#userBar img{
    vertical-align: middle;
}

fieldset {
    margin-left:1px;
    width: 45em;
    border: 1px solid #BBB;
    text-decoration: none;
}

.userLine {
    margin-left: 11em;
    margin-top: -10px;
    margin-bottom: 10px;
}

.treeBranch {
    padding-left: 1em;

}

.fileBrowserTab {
    border: 1px solid #BBB;
}

.fileBrowserTree {
    padding-top: 1em;
    width: 16em;
    height: 25em;
    overflow: scroll;
}

.fileBrowserPane {
    width: 100%;
    height: 26em;
    overflow: scroll;
}

.fileBrowserSide {
    height: 25em;
    border: none;
}

#graphload {
    background: #fff;
}

.interfaceTable {
    width: 90%;
}

.interfaceTable img {
    vertical-align: middle;
    margin-bottom: 3px;
}

.dashboardTable thead {
    background: none;
}

.dashboardTable th {
    border-bottom: 2px solid #aaa;
    color: #555;
    font-weight: bold;
}

.dashboardTable td{
    text-align: center;
}

#processTable img {
    vertical-align: middle;
}

/*////// Profile Bar ///////*/

#profileSwitchTable table {
    border-collapse: collapse;
}

#profileSwitchTable tr {
    border-collapse: collapse;
    padding:0;
    margin:0;
}

#profileSwitchTable td {
    border-collapse: collapse;
    background: url('/images/grey-ban-mid.png');
    background-repeat: repeat-x;
    padding: 0;
    margin: 0;
}

#profileSwitchTable img{
    padding: 0;
    margin: 0;
}

#profilesLeft {
    width: 30em;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    color: #FFF;
}

#profilesRight {
    padding: 0;
    margin: 0;
    color: #FFF;
    margin-top: 4px;
}

#profilesRight a {
    color: #fff;
}

#profileInputJunk {
    display: none;
    height: 2em;
    border: 1px solid blue;
}

#selectProfile-action-submit {
    border: none;
    background: url('/images/button-switch.png');
    width: 51px;
    height: 20px;
    margin: 0;
}

#profilesRight form {
    display: block;
    padding: 0;
    margin: 0;
}

#profilesRight select {
    padding: 0;
    margin: 0;
}

.sideMenuNames {
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
}

.sideMenuPrimary A {
    color: #666;
    font-family:arial,verdana,helvetica,sans-serif;
    font-size:1em;
    text-decoration: none;
}

.sideMenuSub {
    font-size: 0.9em;
    margin-left: 1em;
}

.sideMenuSubExpander {
    border-left: 1px solid #eee;
}

#mailStatBlock {
    font-size: 1.5em;
}

#mailStatBlock strong {
    /*color: #ff7f00;*/
    color: #666;
}

#uptimeBlock {
    font-size: 1.5em;
}

#uptimeBlock strong {
    /*color: #ff7f00;*/
    color: #666;
}

#progbox {
    background:url(/images/progress-bar-back.gif) right center no-repeat;
    width:200px;
    height:20px;
    float:left;
}

#progmain {
    background:url(/images/progress-bar.gif) right center no-repeat;
    height:20px;
}

#progtext {
    font-family:arial,verdana,helvetica,sans-serif;
    font-size:11px;
    color:#000;
    float:left;
    padding:3px 0 0 10px;
}

.tableRowDrag td{
    background: #FFB500;
}

.mailWindow {
    width: 100%; 
    border: 1px solid #eee;
}

#mailListTable {
    width: 95%;
}

#mailListTable thead tr th{
    text-align: left;
    padding-left: 0;
    margin-left: 0;
}
.mailSubjectCol {
    width: 50%;
}

#mailViewHolder {
    width: 95%;
}

#mailViewHeaders {
    width: 50%;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background: #eee;
}

#mailViewHeaders td{
    vertical-align: top;
}

#mailViewAttachments {
    width: 100%;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#mailViewContentBox {
    padding: 1em;
    border: 1px solid #ddd;
    width: 100%;
}

#mailViewContentBox pre {
    font-size:1.2em;
}

#mailTools { 
    padding: 0 0 0 0;
    margin: 0 0 5px 5px;
    display:block;
    height: 72px;
}

#mailTools li { 
    display: block;
    text-align:center;
    width: 48px;
    float:left;
    margin-right:2em;
}

#mailTools li a div {
    width: 48px;
    height: 50px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;

    background: url(/images/mail-button.png);
    text-decoration:none;
    list-style-type:none;
}
#emdetails {
    background: #eee;
    width: 60%;
}

#emdetails input {
    width: 95%;
}

#emdetails td {
    text-align: left;
}

#attachList {
    border-bottom: 1px solid #eee;
}

#inlineBl input {
    width: 0%;
    left: 0;
    border: 1px solid red;
    background: #f00;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.readMail {

}

.unreadMail {
    font-weight: bold;
}

#sideCal td {
    text-align: center;
    width: 21px;
}

.calMinRow {
    background: #fff;
}

.calSlot {
    background: #ffac00;
    padding: 1em; 
}
.calTab {
    padding: 0px 3px 0px 0px;
}

.calTab div{
    background: #ffcf6c;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

#sideCalBound {
    margin-top: 4em;
    background: #ffac00;
    padding: 1em 1em 1em 1em;
    width: 14.1em;
}

.calBox {
    background: #ffac00;
    width: 100%;
}


.weekViewScrollArea {
    background: #fff;
    height: 20em;
    overflow-y: scroll;
    overflow-x: auto;
}

.mkCalEnt {
    position: absolute;
    width: 20em;
    border: 1px solid black;
    background: #fff;
}

.calEnt {
    background: #ffac00;
    padding: 5px;
}

.calWrap {
    height: 20px;
    float: left;
}

.mVP {
    background: #fff;
}

.mVP td {
    border: 1px solid #ffcf6c;

}

.mvTdTop {
    text-align: right; 

    background: #ffcf6c;
}
